.principalTitle,
.rolandoTitle {
  animation-name: title;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0s;

  @keyframes title {
    0% {
      transform: translatey(-80px);
      opacity: 0;
    }
    100% {
      transform: translatexy(0px);
      opacity: 1;
    }
  }
}

.titleNew {
  animation-name: mov;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;

  @keyframes mov {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.formButtonDanger {
  &:hover {
    background-color: red;
    color: $complementaryColor1;
  }

  &:before {
    content: "";
    background-color: $complementaryColor1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    transform: translatex(-100%) rotate(45deg);
    transition: all 0.5s;
  }

  &:hover:before {
    transform: translatex(100%) rotate(45deg);
  }
}

.formButtonInfo {
  &:hover {
    background-color: $mainColor;
    color: $complementaryColor1;
  }

  &:before {
    content: "";
    background-color: $complementaryColor1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    transform: translatex(-100%) rotate(45deg);
    transition: all 0.5s;
  }

  &:hover:before {
    transform: translatex(100%) rotate(45deg);
  }
}

.carouselTextMov {
  animation-name: mov;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s;

  @keyframes mov {
    0% {
      transform: scale(0.5, 0.5);
    }
    70% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.rolandoImg,
.rolandoIntro,
.publicEvent,
.serviciosInfo,
.serviciosTable {
  animation-name: movUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s;
  @keyframes movUp {
    0% {
      transform: translatey(80px);
      opacity: 0;
    }
    100% {
      transform: translatexy(0px);
      opacity: 1;
    }
  }
}
