.card-body {
  .dateBox {
    background: linear-gradient($secundaryColor, $mainColor);
    color: $complementaryColor1;
  }

  .informationButton:hover {
    color: $complementaryColor1;
    transition: all 0.5s;
  }
}

.titleNew {
  font-family: $detailsFont;
  font-size: 36px;
  color: $secundaryColor;
  text-shadow: 3px 3px 4px $complementaryColor2;
}
