footer {
  font-size: 14px;
  font-family: $DetailsFont;

  .FooterBackground {
    @include BackgroundGradient($ComplementaryColor2, $ComplementaryColor1);

    .icon {
      font-size: 35px;
      color: $MainColor;
    }

    .ShadowButton {
      & a:hover {
        font-size: 25px;
        text-shadow: 3px 4px 4px $ComplementaryColor3;
      }
    }
  }
}
