.ServiciosBackground {
  background-image: url(../img/BackgroundServicios.svg);

  .table {
    ul {
      list-style-type: none;
    }
    thead {
      th {
        color: $ComplementaryColor1;
        text-shadow: 3px 3px 4px $ComplementaryColor3;
        font-size: 24px;
      }
    }
  }
}
