// Fuentes
$MainFont: "Aleo", serif;
$BasicFont: "Roboto Condensed", sans-serif;
$DetailsFont: "Patrick Hand", cursive;

// Colores
$MainColor: #69c5d7;
$SecundaryColor: #008bc4;
$ComplementaryColor1: #ffffff;
$ComplementaryColor2: #c6c6c6;
$ComplementaryColor3: #000000;
