// Fuentes
$mainFont: "Aleo", serif;
$basicFont: "Roboto Condensed", sans-serif;
$detailsFont: "Patrick Hand", cursive;

// Colores
$mainColor: #69c5d7;
$secundaryColor: #008bc4;
$complementaryColor1: #ffffff;
$complementaryColor2: #c6c6c6;
$complementaryColor3: #000000;

// Tamaño del texto
$size: 48px;
