/* ESTILOS GENERALES.

    FONT-FAMILY
Aleo - titulo, nav
Roboto - texto main, footer
Patrick Hand - h1

    FONT-SIZE
48 px - h1
36 px - nombre, nuevo!
24 px - nombre prod. nuevo.
18 px - texto main, sub-titulo
14 px - footer, nav

    COLORS
#E6E6E6 - gris claro
#FFFFFF - blanco
#008BC4 - azul oscuro
#69C5D7 - azul claro

*/

/* Gener reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

/* Header & Footer style */

header {
  font-size: 14px;
  position: relative;
}

header .HeaderBackground {
  background: linear-gradient(#ffffff, #c6c6c6);
}

header .HeaderBackground .HeaderText {
  font-family: "Aleo", serif;
}

header .HeaderBackground .HeaderText .HeaderTitleOne {
  font-size: 24px;
}

header .HeaderBackground .HeaderText .HeaderTitleTwo {
  font-size: 18px;
}

header .HeaderWave {
  position: absolute;
  top: 115px;
  z-index: 3;
}

.nav-item a {
  text-decoration: none;
  transition: all 0.5s;
}

.nav-item a:hover {
  text-decoration: overline;
  font-weight: bold;
  text-shadow: 2px 2px 4px #69c5d7;
  transform: scale(1, 1.25);
}

footer {
  font-size: 14px;
  font-family: "Aleo", serif;
}

.FooterBackground {
  background: linear-gradient(#c6c6c6, #ffffff);
}

.FooterBackground .icon {
  font-size: 35px;
  color: #69c5d7;
}

.ShadowButton a:hover {
  font-size: 25px;
  text-shadow: 3px 4px 4px #000000;
}

/* Index */
.CarouselText {
  color: #000000;
  font-family: "Patrick Hand", sans-serif;
}

/* Rolando */
.RolandoBackground {
  position: absolute;
  top: 70px;
  z-index: -1;
}

.PrincipalTitle {
  font-family: "Patrick Hand", sans-serif;
  margin-top: 120px;
  margin-bottom: 100px;
  font-size: 48px;
  color: #008bc4;
  text-shadow: 3px 3px 4px #c6c6c6;
  position: relative;
  z-index: 1;
}

.HistoryRolando {
  height: 80vh;
  background-color: #008bc4;
  color: #ffffff;
}

video {
  height: 60vh;
}

/* Avisos y novedades */
.TitleNew {
  font-family: "Patrick Hand", sans-serif;
  font-size: 36px;
  color: #008bc4;
  text-shadow: 3px 3px 4px #c6c6c6;
}

.card-body .DateBox {
  background: linear-gradient(#008bc4, #69c5d7);
  color: #ffffff;
}

.card-body .InformationButton:hover {
  color: #ffffff;
  transition: all 0.5s;
}

/* Servicios */
.ServiciosBackground {
  background-image: url(../img/BackgroundServicios.svg);
}

/* Media */
@media (max-width: 767.98px) {
  .RolandoTitle {
    color: #ffffff;
  }
}

/* Animaciones y trancisiones */
.PrincipalTitle {
  animation-name: title;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0s;
}

@keyframes title {
  0% {
    transform: translatey(-50px);
    opacity: 0;
  }
  100% {
    transform: translatexy(0px);
    opacity: 1;
  }
}

.TitleNew {
  animation-name: mov;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s;
}

@keyframes mov {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.FormButtonDanger {
  color: red;
  border: 3px solid red;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.FormButtonDanger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: -1;
  transform: translatex(-100%);
  transition: all 0.5s;
}

.FormButtonDanger:hover:before {
  transform: translatex(0%);
}

.FormButtonDanger:hover {
  color: white;
}

.FormButtonInfo {
  color: #69c5d7;
  border: 3px solid #69c5d7;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.FormButtonInfo:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #69c5d7;
  z-index: -1;
  transform: translatex(-100%);
  transition: all 0.5s;
}

.FormButtonInfo:hover:before {
  transform: translatex(0%);
}

.FormButtonInfo:hover {
  color: white;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
